@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  background-color: #f3f5fc;
  height: auto;
}
.container {
  display: flex;
  flex-direction: row;
  height: 59.4rem;
  width: 100%;
}
.coluna__1 {
  flex-basis: 12.5rem;
  padding: 2.5rem;
}
.coluna__2 {
  display: flex;
  flex-basis: 45.5rem;
  padding: 2.5rem;
  justify-content: space-between;
  flex-direction: column;
}
.coluna__2__area__texto {
  width: 100%;
  font-family: Inter, sans-serif;
  font-size: 2rem;
  font-weight: 400;
  text-align: left;
  background-color: #f3f5fc;
  color: #0a3871;
  border: none;
  padding-top: 8rem;
  outline: none;
  line-height: 48px;
}
::-webkit-input-placeholder {
  color: #0a3871;
  font-size: 2rem;
  font-family: "Inter", sans-serif;
}
::-moz-placeholder {
  color: #0a3871;
  font-size: 2rem;
  font-family: "Inter", sans-serif;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #0a3871;
  font-size: 2rem;
  font-family: "Inter", sans-serif;
}
::-ms-input-placeholder {
  color: #0a3871;
  font-size: 2rem;
  font-family: "Inter", sans-serif;
}
::placeholder {
  color: #0a3871;
  font-size: 2rem;
  font-family: "Inter", sans-serif;
}
.coluna__2__alerta {
  display: flex;
  flex-direction: row;
  gap: 2%;
  padding-bottom: 0.7rem;
  font-family: Inter;
  font-size: 0.8rem;
  color: #495057;
}
.coluna__2__area__botao {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.coluna__2__botao__criptografar {
  background-color: #0a3871;
  color: white;
  font-family: Inter;
  font-size: 1rem;
  border-radius: 1.5rem;
  border-style: hidden;
  width: 20.5rem;
  height: 4.2rem;
}
.coluna__2__botao__criptografar:hover {
  background-color: #224b7e;
}
.coluna__2__botao__descriptografar {
  background-color: #d8dfe8;
  color: #0a3871;
  border: 1px solid #0a3871;
  font-family: Inter;
  font-size: 1rem;
  border-radius: 1.5rem;
  width: 20.5rem;
  height: 4.2rem;
}
.coluna__2__botao__descriptografar:hover {
  background-color: #dde2f4;
}

.coluna__3 {
  display: flex;
  flex-basis: 29.1rem;
  padding: 2.5rem 2.5rem 01rem 2.5rem;
  justify-content: space-between;
  flex-direction: column;
  margin: 20px 30px 0px 0;
  background-color: #ffffff;
  border-radius: 1.5rem;
  box-shadow: 0rem 0.3rem 0.6rem #c7c5c5;
  /* margin: 10px; */
}
.coluna__3__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.coluna__3__titulo {
  font-family: Inter, sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  color: #343a40;
  text-align: center;
}
.coluna__3__paragrafo {
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: regular;
  color: #343a40;
  margin: 1rem;
  text-align: center;
}
.coluna__3__area__botao {
  display: flex;
  justify-content: center;
}
.coluna__3__botao {
  background-color: #ffffff;
  color: #0a3871;
  font-family: Inter;
  font-size: 1rem;
  border: 1px solid #0a3871;
  border-radius: 1.5rem;
  width: 20.5rem;
  height: 4.2rem;
  visibility: hidden;
}
.coluna__3__botao:hover {
  background-color: #dde2f4;
}
.coluna__3__texto__exibido {
  color: #495057;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  text-align: left;
  font-weight: 400;
  line-height: 38px;
  text-align: left;
  width: 100%;
  height: auto;
  flex: 1;
  overflow-y: auto;
  max-height: 700px;
  max-width: 370px;
}
footer {
  display: flex;
  justify-content: center;
  font-family: Inter;
  font-size: 0.8rem;
  color: #495057;
  padding: 1rem;
}

@media (max-width: 769px) {
  .container {
    flex-direction: column;
    height: auto;
  }
  .coluna__1 {
    padding: 0;
    flex-basis: auto;
    margin-top: 1.9rem;
  }
  .coluna__2__area__texto {
    padding-top: 0;
    line-height: 40px;
  }
  .coluna__3 {
    flex-basis: auto;
    flex-direction: column;
    width: 43rem;
    height: 18rem;
    margin-top: 0;
    margin-left: 37px;
    padding: 1.4rem;
  }
  .coluna__3__container {
    width: 100%;
    height: 100%;
  }
  .coluna__3__imagem {
    display: none;
  }

  .coluna__3__area__botao {
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
  }
  .coluna__3__texto__exibido {
    max-height: 9.4rem;
    max-width: 900px;
    overflow-y: scroll;
    flex: 1;
  }
}
@media (max-width: 376px) {
  .coluna__1 {
    margin: 0;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .coluna__1__imagem {
    width: 100px;
    height: 30px;
  }
  .coluna__2 {
    box-sizing: border-box;
    flex-basis: auto;
  }
  .coluna__2__area {
    max-height: 15.6rem;
  }
  .coluna__2__area__texto {
    max-height: 15.6rem;
    font-size: 1.1rem;
    line-height: 24px;
  }
  ::-webkit-input-placeholder {
    color: #0a3871;
    font-size: 1.3rem;
    font-family: "Inter", sans-serif;
  }
  ::-moz-placeholder {
    color: #0a3871;
    font-size: 1.3rem;
    font-family: "Inter", sans-serif;
    opacity: 1;
  }
  :-ms-input-placeholder {
    color: #0a3871;
    font-size: 1.3rem;
    font-family: "Inter", sans-serif;
  }
  ::-ms-input-placeholder {
    color: #0a3871;
    font-size: 1.3rem;
    font-family: "Inter", sans-serif;
  }
  ::placeholder {
    color: #0a3871;
    font-size: 1.3rem;
    font-family: "Inter", sans-serif;
  }
  .coluna__2__area__botao {
    flex-direction: column;
    gap: 1rem;
  }
  .coluna__2__botao__criptografar {
    width: 18.4rem;
    height: 3.5rem;
  }
  .coluna__2__botao__descriptografar {
    width: 18.4rem;
    height: 3.5rem;
  }
  .coluna__3 {
    flex-basis: auto;
    width: 21rem;
    margin: 1.3rem;
    box-sizing: border-box;
  }
  .coluna__3__container {
    width: 18.1rem;
    align-items: center;
  }
  .coluna__3__titulo {
    font-size: 1.2rem;
  }
  .coluna__3__paragrafo {
    font-size: 0.9rem;
  }
  .coluna__3__texto__exibido {
    font-size: 1rem;
    overflow: auto scroll;
    line-height: 24px;
  }
  .coluna__3__botao {
    width: 18.4rem;
    height: 3.5rem;
  }
  footer {
    padding-top: 0;
  }
}
