* body {
  margin: 0;
  padding: 0;
}
.conteiner {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: row;
  background-color: #f3f5fc;
}
.conteiner__esquerdo {
  display: flex;
  flex-direction: column;
  flex: 2;
}
.conteiner__esquerdo__logo {
  margin-top: 2.5rem;
  margin-left: 2.5rem;
}
.conteiner__esquerdo__area__texto {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  background-color: #f3f5fc;
}
.conteiner__esquerdo__caixa {
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 2rem;
  background-color: #f3f5fc;
  color: #0a3871;
  margin: 3.8rem;
  border: none;
  outline: none;
  padding-left: 10%;
}
.conteiner__esquerdo__mensagem {
  display: flex;
  flex-direction: column;
}
.conteiner__esquerdo__mensagem__alerta {
  display: flex;
  justify-content: left;
  font-family: Inter;
  font-size: 0.8rem;
  color: #495057;
  margin-left: 15%;
}
.conteiner__esquerdo__area__botao {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.conteiner__esquerdo__area__botao__criptografar {
  background-color: #0a3871;
  color: white;
  font-family: Inter;
  font-size: 1rem;
  border-radius: 1.5rem;
  border-style: hidden;
  width: 20.5rem;
  height: 4.2rem;
}
.conteiner__esquerdo__area__botao__descriptografar {
  background-color: #d8dfe8;
  color: #0a3871;
  font-family: Inter;
  font-size: 1rem;
  border-radius: 1.5rem;
  border-style: hidden;
  width: 20.5rem;
  height: 4.2rem;
}
.conteiner__esquerdo__footer {
  display: flex;
  justify-content: center;
  font-family: Inter;
  font-size: 0.8rem;
  color: #495057;
  padding: 2%;
}
.conteiner__direito {
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-right: 2.5rem;
  padding: 1rem;
  background-color: white;
  box-shadow: 0.3rem 0.3rem 0.6rem #c7c5c5;
}
.conteiner__direito__area {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.conteiner__direito__imagem {
  max-width: 100%;
  height: auto;
}
.conteiner__direito__titulo {
  font-family: Inter, sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  color: #343a40;
  margin: 1rem;
  text-align: center;
}
.conteiner__direito__paragrafo {
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: regular;
  color: #343a40;
  margin: 1rem;
  text-align: center;
}
.conteiner__esquerdo__botao__copiar {
  display: flex;
  background-color: #0a3871;
  color: white;
  font-family: Inter;
  font-size: 1rem;
  border-radius: 1.5rem;
  border-style: hidden;
  width: 20.5rem;
  height: 4.2rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.4rem;
  margin-left: 2%;
}
